
* {
margin: 0;
padding: 0;
}
html,body{height: 100%;}
.load{height: 100%;width: 100%;top: 0;left: 0;background: #ff5959;text-align: center;z-index: 20}
.load>img{width: 20%;position: absolute;top: 0;left: 0;bottom: 0;right: 0;margin:auto;}
.s{width: 20%;left: 40%;bottom: 5%;z-index: 10;-webkit-animation: s 2.8s ease-in-out infinite}
@-webkit-keyframes s{
       0%{bottom: 3%;opacity: 0}
       50%{bottom: 7%;opacity: 1}
       100%{bottom: 3%;opacity: 0}
}
.swiper-pagination-bullet{background: white;opacity: 1}
.swiper-pagination-bullet-active{background: #007aff}
.showtime{width: 100%;height: 100%;}
#swiper1{height: 100%;background: #ff5959}
.pho{width: 8rem;z-index: -1}
.pho1{left: -8%;top:17%;}
.pho2{right: -5%;top:17%;}
.pho3{left: -15%;top:60%;}
.pho4{right: 0%;top:60%;}

.linght{width: 200%;left: -50%;top: 0;bottom: 0;right: 0;margin: auto;-webkit-animation: zhuan 6s linear infinite;z-index: -1}
.logo{width: 100%;display: block;margin:0 auto 0;padding-top: 10%}
.chupin{margin:0 auto;width: 30%;display: block;}
.zuopin{margin:5% auto;height: 13%;display: block;z-index: 3;position: relative;}
.shigao{bottom: 0;width: 85%;left: 7.5%;}
.up{width: 80%;padding-top: 10%}
.com{width: 25%;left: 5%;top:30%;}
.jian{width: 20%;left: 17%;top:50%;}
.pho-wrap{width: 50%;right: 5%;top: 20%;}
.yuan{width: 100%;left: 0;bottom: -10%}
.phone{vertical-align: top;width: 100%;}
.ss{background: transparent;left: 3%;width: 94%;top: 7%;text-align: center;}
.ss img{vertical-align: top;width: 100%;}
.share{width: 40%;top: 3%;left: 5%;}
.all{width:70%;top: 6%;left: 5%;}
.shou1{width: 65%;top: 18%;left: 5%;}
.shou2{width: 65%;top: 28%;right: 6%;}
.p4{width: 64%;display: block;margin:0 auto 2%;position: relative;z-index: 5}
.xian{padding-top: 18%;}
.hand{bottom: 0;width: 60%;left: 22.5%;z-index: 5}
@-webkit-keyframes zhuan{
       0%{-webkit-transform:rotate(0deg);}
       100%{-webkit-transform:rotate(360deg);}
}


.quan1{width: 15rem;left: 10rem;top: -15rem;-webkit-animation: quan1 2.5s linear 0.5s infinite;}
@-webkit-keyframes quan1{
       0%{left: 10rem;top: -15rem;}
       100%{left: -15rem;top: 10rem;}
}
.quan2{width: 15rem;left: 23rem;top: -15rem;-webkit-animation: quan2 1.5s linear infinite;}
@-webkit-keyframes quan2{
       0%{left: 23rem;top: -15rem;}
       100%{left: -15rem;top: 23rem;}
}
.quan3{width: 15rem;left: 33rem;top: -15rem;-webkit-animation: quan3 2s linear 1s infinite;}
@-webkit-keyframes quan3{
       0%{left: 33rem;top: -15rem;}
       100%{left: -15rem;top: 33rem;}
}
.quan4{width: 15rem;left: 55rem;top: -15rem;-webkit-animation: quan4 2s linear infinite;}
@-webkit-keyframes quan4{
       0%{left: 55rem;top: -15rem;}
       100%{left: -15rem;top: 55rem;}
}



@media screen and (max-height: 520px)
{
	.zuopin{height: 10%;margin:4% auto;}
	.logo{width: 85%;padding-top: 5%}
	.shigao{width: 80%;left: 10%;}
	.pho{width: 6rem;z-index: -1}
	.share{width: 35%;top: 3%;left: 5%;}
	.all{width:65%;top: 6%;left: 5%;}
	.shou1{width: 60%;top: 18%;left: 5%;}
	.shou2{width: 60%;top: 28%;right: 6%;}
	.yuan{bottom: -8%}
}

